<div class="container">
	<h2>Configure automated replies</h2>
	<div class="row">
		<div class="span5 offset1">
			<h3>Existing Reply Templates</h3>
			<ul>
				<li>
					Rude Reply
				</li>
				<li>
					Polite Reply
				</li>
				<li>
					Casual Reply
				</li>
			</ul>
			<button class="btn btn-inverse" data-bind="click: openTemplateCreator">New..</button>
		</div>
	</div>
	<div data-bind="if: showCreator" class="row">

		<form class="form-horizontal span10 offset1">
			<h3>Create new reply template</h3>
			<div class="control-group">
				<label class="control-label" for="password">Template name</label>
				<div class="controls">
					<input data-bind="value: templateName" type="text" name="name" placeholder="name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Rich html formatting</label>
				<div class="controls">
					<input type="checkbox" value="msg" data-bind="checked: richFormatting" />
				</div>
			</div>
			<h4>Compose Reply</h4>
			<textarea id="composer"style="width: 100%; height: 500px;" data-bind="wijeditor: {mode: 'simple', editorMode: true,showPathSelector: true }"></textarea>						



			<div class="control-group">

				<button data-bind="click: createNewTemplate" class="controls btn-large btn-primary">
					Create
				</button>
				<button data-bind="click: cancelTemplate" class="btn-large btn-inverse">
					Cancel
				</button>

			</div>

		</form>

	</div>
	<div class="row">
		<h2>Configure email filters</h2>
		<form class="form-horizontal span5 offset1">
			<h3>Create new reply template</h3>
			<div class="control-group">
				<label class="control-label" for="password">Filter name</label>
				<div class="controls">
					<input  type="text" name="name" placeholder="name">
				</div>
			</div>
			<h3>Rules</h3>
			<div class="rule-list">
				<div class="control-group">
					<label class="control-label" for="password">Filter when incoming address(es)</label>
					<div class="controls">
						<input  type="email" name="name" placeholder="address">
					</div>
					<div class="control-group">
						<div class="controls">
							<select>
								<option>AND</option>
								<option>OR</option>
							</select>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Filter when incoming name</label>
					<div class="controls">
						<input  type="text" name="name" placeholder="name">
					</div>
					<div class="control-group">
						<div class="controls">
							<select>
								<option>AND</option>
								<option>OR</option>
							</select>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Filter when body contains text</label>
					<div class="controls">
						<input  type="text" name="name" placeholder="keyword(s)">
					</div>
					<div class="control-group">
						<div class="controls">
							<select>
								<option>AND</option>
								<option>OR</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="control-group">

				<button  class="controls btn-large btn-primary">
					Create
				</button>
				<button  class="btn-large btn-inverse">
					Cancel
				</button>

			</div>

		</form>
	</div>
</div>
