<div class="row">
	<h1>Awesome Info Viz Dashboard!!!1!!</h1>
</div>
<div class="container">
	<h2>Amount of time saved</h2>
</div>
<div class="row">
	<div class="span6">
		<h2>Average Email Length</h2>
		
	</div>
	<div class="span6">
		<h2>Average Response Time</h2>
		
	</div>
	
</div>
<div class="row">
	<div class="span6">
		<h2>Average Email Length</h2>
		
	</div>
	<div class="span6">
		<h2>Average Response Time</h2>
		
	</div>
	
</div>
<div class="row">
	<div class="span6">
		<h2>Average Email Length</h2>
		
	</div>
	<div class="span6">
		<h2>Average Response Time</h2>
		
	</div>
	
</div>