<div class="hero-unit">
	<h1>Awesome Info Viz Dashboard!!!1!!</h1>
	<p>
		Be dazzled by the amount of time our service is saving you.
	</p>
	<button class="btn-large btn-primary">
		Customize
	</button>
</div>
<div class="row">
	<div class="span12 offset1">
		<h2>Amount of Time Saved</h2>
		<div id="wijcompositechart">
			Info graphic here
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset1">
		<h2>Average Email Length</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>
	<div class="span6 ">
		<h2>Average Response Time</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>

</div>
<div class="row">
	<div class="span6 offset1">
		<h2>Average Email Length</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>
	<div class="span6 ">
		<h2>Average Response Time</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>

</div>
<div class="row">
	<div class="span6 offset1">
		<h2>Average Email Length</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>
	<div class="span6 ">
		<h2>Average Response Time</h2>
		<div style="background-color: #DDD; height: 150px;">
			Info graphic here
		</div>
	</div>

</div>