<div class="jumbotron subhead">
	<div class="container">
		<img src="TLDROfficial.png">
		<p class="lead">
			Take back your time.
		</p>
	</div>
</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Elevate your inbox.</h2>
		<p>
			We've revamped email, making it shorter and sweeter so you spend less time reading. With TLDR, receive what's relevant and respond with what matters.
		</p>
		<h2>Concise Communications.</h2>
		<p>
			TLDR works while you work, teaming with your inbox to summarize in-and-outbound emails. Our algorithm catches your inbound, handpicking details you need and archiving the rest. Paying it forward, TDLR monitors your outgoing messages, highlighting key text to help you correspond succinctly.
		</p>
	</div>


</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Bounce Back</h2>
		<p>
			A little instruction goes a long way. Opt-in to this feature to inform your contact they're message was summarized with TDLR, and get the ball rolling towards a culture of cleaner communication. 
		</p>
	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Get your TLDR</h2>
		<p>
			 Reclaim your day from your email. 
		</p>
	</div>

</div>
<div class="hero-unit offset3 span6">
	<h1>Sign up</h1>
	<p>
		Tired of reading about this service? Go ahead and try it out!
	</p>
	<a href="#/signup" class="btn-large btn-primary">Sign up</a>
</div>

