<div class="jumbotron subhead">
	<div class="container">
		<h1>Too Long</h1>
		<p class="lead">
			Prevent long emails from gunking up your inbox and free up more time to actually do stuff.
		</p>
	</div>
</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Elevate your inbox.</h2>
		<p>
			We've revamped email, making it shorter and sweeter so you spend less time reading. With TLDR, receive what's relevant and respond with what matters.
		</p>
		<h2>Concise Communications.</h2>
		<p>
			TLDR works while you work, teaming with your inbox to summarize in-and-outbound emails. Our algorithm catches your inbound, handpicking details you need and archiving the rest. Paying it forward, TDLR monitors your outgoing messages, highlighting key text to help you correspond succinctly.
		</p>
	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Elevate your inbox.</h2>
		<p>
			We've revamped email, making it shorter and sweeter so you spend less time reading. With TLDR, receive what's relevant and respond with what matters.
		</p>

	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Concise Communications.</h2>
		<p>
			TLDR works while you work, teaming with your inbox to summarize in-and-outbound emails. Our algorithm catches your inbound, handpicking details you need and archiving the rest. Paying it forward, TDLR monitors your outgoing messages, highlighting key text to help you correspond succinctly.
		</p>
	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Bounce Back</h2>
		<p>
			A little instruction goes a long way. Opt-in to this feature to inform your contact they're message was summarized with TDLR, and get the ball rolling towards a culture of cleaner communication. 
		</p>
	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Inbox zero. Daily.</h2>
		<p>
			When your inbox holds just the stuff you need to address now, email feels lighter and faster. TLDR makes getting to zero — and staying there — a breeze. After you experience a clean inbox, you'll wonder how you ever lived without it. 
		</p>
	</div>

</div>
<div class="row">
	<div class="span6 offset2">
		<h2>Reserve your TLDR.</h2>
		<p>
			 In order to provide a robust, world-class email service, we are filling reservations on a first-come, first-served basis. 
		</p>
	</div>

</div>
<div class="hero-unit offset3 span6">
	<h1>Sign up</h1>
	<p>
		Tired of reading about this service? Go ahead and try it out!
	</p>
	<a href="#/signup" class="btn-large btn-primary">Sign up</a>
</div>

